Hit5/logs/node1/output.log
Hit5/logs/node2/output.log
Hit6/logs/node1/output.log
Hit6/logs/node2/output.log
**/logs/**/*.log
logs/**/*.log
TPII/tests/**/*.json
logs/*.json
TPIII/Hit3/infra/credentials/
TPIII/Hit3/infra/*.tfstate
TPIII/Hit3/infra/*.tfstate.backup
TPIII/Hit3/infra/.terraform/
