.data-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: .3rem solid #000;
    font-size: 1.5rem;
    column-gap: 0;
    margin-top: 2rem;
}

.title {
    text-align: center;
}

.data-container p {
    margin: .5rem;
}

.blockchacin-container li {
    list-style: none;
}

.transaction-container {
    background-color: #ffffff;
}

.blockchain-table {
    width: 100%;
    border-collapse: collapse;
}

.blockchain-table th,
.blockchain-table td {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: 8px;
    text-align: center;
}

.blockchain-table th {
    color: #fff;
    background-color: #000000;
    font-weight: bold;
}